.containerCards {
  margin-left: 20px;
}

.containerImg {
  display: flex;
  gap: 10px;
}

.card {
  display: block;
  width: 90px;
  top: 0px;
  position: relative;
  max-width: 262px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card2 {
  display: block;
  width: 110px;
  top: 0px;
  position: relative;
  max-width: 262px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card:hover,
.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.card::before,
.card2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transform: 0.15s ease-out;
}
.card:hover::before,
.card2:hover::before {
  transform: scale(2.15);
}

/* From uiverse.io by @adamgiebl */

.btnReload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

button {
  background: #fbca1f;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
